@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fredoka);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka), "Comic Sans MS", "Trebuchet MS", sans-serif;
}

.nav{
    box-shadow: 1px 2px 10px rgb(255, 255, 255) !important;
}


